*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    width: 100%;
    background: #222;
}
header{
    background: #222;
    #logo{
        width: 200px;
        position: relative;
        top: 35px;
        font-size: 2em;
        color: white;
        font-style: italic;
        display: flex;
    }
    #search{
        border-radius: 0;
    }
    .menu{
        width: 40px;
        height: 40px;
    }
    #menuDrop{
        display: none;
        position: relative;
        top: 30px;
        width: 40px;
        height: 40px;
        background-image: url("../images/bars.svg");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        color: #888;
        outline: none;
    }
    /*.menu:focus, #menuDrop:focus{
        outline: white;
    }*/
    ul#menuSmall{
        position: absolute;
        top: 40px;
        left: 1px;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        display: none;
        background:#555;
        border-radius: 5px;
        width: 130px;
        z-index: 50;
        animation: surgirLeft .5s ease-in-out;
        transition: all .5s ease-in-out;
        li{
            text-align: center;
            //padding: 0 30px 0 0;
        }
        a{
            display: block;
            color: white;
        }
        padding: 10px 0;
        & a:hover{
            background: #333;
            color: #999;
            text-decoration: none;

        }
    }
    ul#menuCommon{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        .sublinhado{
            text-decoration: underline;
        }
         a{
             text-align: center;
             color: white;
             margin-left: 15px;
             padding: 10px;
             text-decoration: none;
         }
         & a:hover{
             text-decoration: none;
             color: #888;
         }
    }
    .btn{
        color: rgba(255, 255, 255, 0.9);
        background: #777;
    }

    #areaSacola{
        position: relative;
        top: 80px;
        left: 15vw;
        display: flex;
        justify-content: flex-end;
        
        #sacola{
            background-size: contain;
            cursor: pointer;
        }
        a{
            padding: 10px;
            margin-right: 20px;
            text-decoration: none;
            color: white;
        }
        & a:hover{
            color:#888;
        }
        p{
            position: relative;
            top: -18px;
            left: 6.5px;
            width: 15px;
            height: 15px;
            text-align: center;
            color: white;
            font-size: 9px;
            line-height: 15px;
            background-color: rgb(37, 182, 122);
            border-radius: 50%;
            cursor: pointer;
        }
    }
    
}
.roll-top{
    position: fixed;
    bottom: 25px;
    right: 35px;
    z-index: 1000;
    & :hover{
        text-decoration: none;
        color: #90e0ef;
    }
}
section#area-categorias{
    background:rgba(100, 100, 100, .7);
    z-index: 1;
    #linha-categorias{
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
    }
    .categorias{
        animation: surgirRight 0.5s;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        //background:rgba(255, 255, 255, .9);
        margin: 0 15px;
        min-width: 100px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color:#fff;
        font-size: 1.2em;

        img{
            object-fit: contain;
            border-radius: 50%;
            transition: 0.2s;
        }
        & img:hover{
            transform: translateY(-1.5vh);
        }
    }
}
#carrossel{
    span{
        color: white;
    }
}
section#area-produtos{
    background: #222;
    padding-top: 2vh;
    padding-bottom: 10vh;
    #bg-produtos-blusas{
        padding: 15px 0;
        margin-bottom: 5vh;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #f1f1f1;
        background: rgba(255, 255, 255, 0.9);
    }
    #bg-produtos-livros{
        padding: 15px 0;
        margin-bottom: 5vh;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #f1f1f1;
        background: rgba(255, 255, 255, 0.9);
    }
    .vitrineTag{
        color: #f6f6f6;
    }
    ul{
        background: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        list-style: none;
    }
    a{
        text-align: center;
        padding: 10px;   
        display: block;
        color: #333;
        transition: 0.2s ease-in-out;
    }
    & a:hover{
        text-decoration: none;
        background: #888;
        color: #f6f6f6;
        //transform: translateX(5vw);
        letter-spacing: 5px;
        border-radius: 5px;
    }
}

//******************* Área do produto da página da sacola ************************
section#area-produtos-sacola{
    background: #222;
    padding-top: 2vh;
    padding-bottom: 10vh;
    #bg-produtos-sacola{
        padding: 15px 0;
        margin-bottom: 5vh;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #f1f1f1;
        background: #fff;
    }
    .sacola-produtos{
        img.sacola-vazia{
            position: relative;
            left: 30px;
            object-fit: cover;
            width: 320px;
        }
        h3.sacola-vazia{
            font-family: 'Courier New', Courier, monospace;
            color: #333;
            text-align: left;
        }
    }
    .card-sacola{
        margin: 10px 5px;
        background: #f5f5f5;
        padding: 10px;
        width: 250px;
        box-shadow: 0 2px 10px;
        
        img{
            width: 240px;
            height: 160px;
            box-sizing: border-box;
            transition: 0.2s;
        }
        p{
            color: #888;
            margin: 10px 0 0 0;
            font-size: .8em;
        }
        h3{
            position: relative;
            top: 0;
            margin-top: 5px;
            font-size: 1.3em;
            text-align: center;
        }
        span{
            font-size: .8em;
        }
        .excluir-sacola{
            //border: 1px solid red;
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 1.3em;
            font-weight: bold;
            position: relative;
            top: -240px;
            left: 200px;
            cursor: pointer;
            background: #f5f5f5;
            border-bottom-left-radius: 25px;
            a{
                color: #333;
            }
            & a:hover{
                color: red;
                text-decoration: none;
            }
        }
        button{
            position: relative;
            top: 10px;
            //border-radius: 5px;
            margin: 15px 0 0 0;
            color: white;
            background: rgba(0, 0, 0, .5);
        }
        input.quantidade-sacola, a.quantidade-sacola{
            position: relative;
            top: 20px;
        }
    }
}
//******************* Área do produto da página da sacola ************************

//******************* Área do Botão hamburger ************************
.menu-btn{
    position: relative;
    top: 35px;
    left: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    //border: 3px solid #fff;
}
.menu-btn_burger{
    width: 40px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47, .2);
    transition: all .5s ease-in-out;

    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47, .2);
        transition: all .5s ease-in-out;
    }
    &::before{
        transform: translateY(-16px);
    }
    &::after{
        transform: translateY(16px);
    }
}
/* Animation */
.menu-btn.open .menu-btn_burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    &::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    &::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }
}

//******************* Área do Botão hamburger ************************


//******************* Área do valor total do produto da página da sacola ************************
.total-compra{
    background: white;
    border-radius: 5px;
    ul{
        list-style: none;
    }
    h3{
        padding-top: 15px;
        text-align: center;
    }
    h4{
        text-align: center;
        padding: 5px;
    }
}
//******************* Área do valor total do produto da página da sacola ************************

.card{
    margin: 10px 5px;
    background: #f5f5f5;
    padding: 10px;
    width: 250px;
    border: 3px solid #333;
    box-shadow: 0 2px 10px;
    
    img{
        object-fit: cover;
        width: 240px;
        height: 160px;
        box-sizing: border-box;
        transition: 0.2s;
    }
    p{
        color: #888;
        margin: 10px 0 0 0;
        font-size: .8em;
    }
    h3{
        position: relative;
        top: 10px;
        text-align: center;
        font-size: 1.3em;
    }
    span{
        font-size: .8em;
    }
    button{
        width: auto;
        //border-radius: 5px;
        margin: 15px 0 0 0;
        color: white;
        background: rgba(0, 0, 0, .5);
    }
}
section#area-cadastrar{
    padding-bottom: 10vh;
    background: #222;
    input{
        width: 300px;
        margin: 10px 0;
        display: inline-block;
    }
    select{
        width: 300px;
        margin: 10px 0;
        display: inline-block;
    }
}

footer{
    background: #222;
    padding-bottom: 10vh;
    .container{
        border-top: 1px solid rgba(100, 100, 100, .7);
    }
    ul{
        margin-top: 10vh;
        list-style: none;
    }
    li{
        display: inline-block;
    }
    a{
        padding: 10px;
        margin-left: 15px;
        color: #888;
    }
    & a:hover{
        text-decoration: none;
        color: white;
    }
}
 //--------------------------   Contatos   -------------------------------------

section#area-contatos{
    height: 80vh;
    background: #222;
    margin: 0 auto;

    .sumir{
        animation: sumirBaixo 1s;
    }

    h2{
        padding-top: 10vh;
        margin-bottom: 5vh;
        color: white;
        font-size: 2em;
        font-weight: 500;
        text-align: center;
    }
    form{
        display: grid;
        place-items: center;
    }
    input{
        width: 30vw;
        margin-top: 5px;
    }
    input[type="submit"]{
        width: 10%;
    }
    textarea{
    width: 30vw;
    margin-top: 20px;
    resize: none;
    }
}

section#mensagemFeedback{
    background-color: #222;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    overflow-y: auto;
    #quote{
        margin-top: 35px;
        color: #fff; 
        width: 50px;
        height: 50px; 
    }
    .feed{
        display: inline-block;
        background: #888;
        border-radius: 5px;
        width: 300px;
        max-height: 350px;
    }
    .mensagem{
        width: 200px;
        margin-top: 15px;
    }
    img{
        padding: 10px;
        width: 50px;
        width: 50px;
    }
    p{
        color:#f8f8f8;
    }
}
//-------------------------- Animações da Página  -------------------------------------
@keyframes surgirRight{
    from{
        transform: translateX(30vw);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;

    }
}

@keyframes surgirLeft{
    from{
        transform: translateX(-100vw);
        opacity: 0;
        filter: blur(5px);
    }
    to{
        opacity: 1;
        transform: translateX(10px);
        filter: blur(0);

    }
}

@keyframes sumirBaixo{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(110vh);
    }
}

//--------------------------   Media Responsiva   -------------------------------------
@media screen and (max-width: 480px) {
    #logo{
        justify-content: center;
    }
    .card{
        width: 200px;
        img{
            width: 250px;
            //height: 190px;
        }
    }
    #areaSacola{
        margin-right: -5px !important;
    }
    .menu-btn{
        margin-left: -0px !important;
    }


    //----------pagina contato-----------------
    
}
@media screen and (max-width:767px){
    header{
        #logo{
            justify-content: center;
            width: 100%;
        }
        ul#menuCommon{
            display: none;
        }
        li{
            margin-top: 25px;
        }
        #areaSacola{
            width: 80px;
            height: 80px;
            top: -16px;
            margin-right: 0 !important;
            left: 15px !important;
            justify-content: center;
            
        }
    }
    .menu-btn{
        display: flex;
        margin-left: 15px;
    }
    .menu-btn.open #menuSmall{
        transition: all .5s ease-in-out;
        display: block;
    }

    .card{
        h3{
            top: 10px;
            text-align: center;
        }
    }
    section#area-contatos{
        input{
            width: 60vw;
        }
        input[type="submit"]{
            width: 30vw;
            margin-top: 10px;
        }
        textarea{
            width: 60vw;
        }
    }  
}