* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  width: 100%;
  background: #222;
}

header {
  background: #222;
  /*.menu:focus, #menuDrop:focus{
        outline: white;
    }*/
}

header #logo {
  width: 200px;
  position: relative;
  top: 35px;
  font-size: 2em;
  color: white;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #search {
  border-radius: 0;
}

header #menuDrop {
  display: none;
  background: transparent;
  width: 50px;
  height: 50px;
  background-size: contain;
  border: none;
  color: #888;
}

header ul#menuSmall {
  position: relative;
  top: -22px;
  margin-bottom: 0;
  list-style: none;
  display: none;
  background: #999;
  width: 120px;
}

header ul#menuSmall li {
  text-align: center;
}

header ul#menuSmall a {
  display: block;
  color: white;
  padding: 10px 0;
}

header ul#menuSmall a:hover {
  background: #333;
  color: #999;
  text-decoration: none;
}

header ul#menuCommon {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header ul#menuCommon .sublinhado {
  text-decoration: underline;
}

header ul#menuCommon a {
  text-align: center;
  color: white;
  margin-left: 15px;
  padding: 10px;
  text-decoration: none;
}

header ul#menuCommon a:hover {
  text-decoration: none;
  color: #888;
}

header .btn {
  color: rgba(255, 255, 255, 0.9);
  background: #777;
}

header #areaSacola {
  position: relative;
  top: 80px;
  left: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #areaSacola #sacola {
  background-size: contain;
  cursor: pointer;
}

header #areaSacola a {
  padding: 10px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

header #areaSacola a:hover {
  color: #888;
}

header #areaSacola p {
  position: relative;
  top: -18px;
  left: 6.5px;
  width: 15px;
  height: 15px;
  text-align: center;
  color: white;
  font-size: 9px;
  line-height: 15px;
  background-color: #25b67a;
  border-radius: 50%;
  cursor: pointer;
}

section#area-categorias {
  background: rgba(100, 100, 100, 0.7);
}

section#area-categorias #linha-categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: auto;
}

section#area-categorias .categorias {
  -webkit-animation: surgirRight 0.5s;
          animation: surgirRight 0.5s;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

section#area-categorias .categorias img {
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section#area-categorias .categorias img:hover {
  -webkit-transform: translateY(-1.5vh);
          transform: translateY(-1.5vh);
}

#carrossel span {
  color: white;
}

section#area-produtos {
  background: #222;
  padding-top: 2vh;
  padding-bottom: 10vh;
}

section#area-produtos #bg-produtos-blusas {
  padding: 15px 0;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  background: rgba(255, 255, 255, 0.9);
}

section#area-produtos #bg-produtos-livros {
  padding: 15px 0;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  background: rgba(255, 255, 255, 0.9);
}

section#area-produtos .vitrineTag {
  color: #f6f6f6;
}

section#area-produtos ul {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  list-style: none;
}

section#area-produtos a {
  text-align: center;
  padding: 10px;
  display: block;
  color: #333;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

section#area-produtos a:hover {
  text-decoration: none;
  background: #888;
  color: #f6f6f6;
  letter-spacing: 5px;
  border-radius: 5px;
}

.card {
  margin: 10px 5px;
  background: #f5f5f5;
  padding: 10px;
  width: 250px;
  border: 3px solid #333;
  -webkit-box-shadow: 0 2px 10px;
          box-shadow: 0 2px 10px;
}

.card img {
  width: 240px;
  height: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card img:hover {
  -webkit-box-shadow: 0 2px 4px;
          box-shadow: 0 2px 4px;
}

.card p {
  color: #888;
  margin: 10px 0 0 0;
  font-size: .8em;
}

.card h3 {
  position: relative;
  top: 0;
  left: 20px;
  margin-top: 5px;
  font-size: 1.3em;
}

.card span {
  font-size: .8em;
}

.card button {
  border-radius: 5px;
  margin: 15px 0 0 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

section#area-cadastrar {
  padding-bottom: 10vh;
  background: #222;
}

section#area-cadastrar input {
  width: 300px;
  margin: 10px 0;
  display: inline-block;
}

section#area-cadastrar select {
  width: 300px;
  margin: 10px 0;
  display: inline-block;
}

footer {
  background: #222;
  padding-bottom: 10vh;
}

footer .container {
  border-top: 1px solid rgba(100, 100, 100, 0.7);
}

footer ul {
  margin-top: 10vh;
  list-style: none;
}

footer li {
  display: inline-block;
}

footer a {
  padding: 10px;
  margin-left: 15px;
  color: #888;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

section#area-contatos {
  height: 80vh;
  background: #222;
  margin: 0 auto;
  /*.sumir{
        animation: sumirBaixo 1s;
    }*/
}

section#area-contatos .anim {
  -webkit-animation: surgirLeft 1s ease-in;
          animation: surgirLeft 1s ease-in;
}

section#area-contatos h2 {
  padding-top: 10vh;
  margin-bottom: 5vh;
  color: white;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

section#area-contatos form {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section#area-contatos input {
  width: 30vw;
  margin-top: 5px;
}

section#area-contatos input[type="submit"] {
  width: 10%;
}

section#area-contatos textarea {
  width: 30vw;
  margin-top: 20px;
  resize: none;
}

section#mensagemFeedback {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
}

section#mensagemFeedback #quote {
  position: relative;
  left: -15px;
  margin-top: 35px;
  color: #fff;
  width: 50px;
  height: 50px;
}

section#mensagemFeedback .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #888;
  border-radius: 5px;
  width: 300px;
  max-height: 350px;
}

section#mensagemFeedback .mensagem {
  width: 200px;
  margin-top: 15px;
}

section#mensagemFeedback img {
  width: 50px;
  width: 50px;
}

section#mensagemFeedback p {
  color: #f8f8f8;
}

@-webkit-keyframes surgirRight {
  from {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes surgirRight {
  from {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes surgirLeft {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes surgirLeft {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes sumirBaixo {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(110vh);
            transform: translateY(110vh);
  }
}

@keyframes sumirBaixo {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(110vh);
            transform: translateY(110vh);
  }
}

@media screen and (max-width: 480px) {
  #logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menuDrop {
    display: block;
  }
  #areaSacola {
    margin-right: 10px;
  }
  .card {
    width: 200px;
  }
  .card img {
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  header #logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  header ul#menuCommon {
    display: none;
  }
  header li {
    margin-top: 25px;
  }
  header #menuDrop {
    display: block;
  }
  header #areaSacola {
    top: 30px;
    left: 3vw;
  }
  .card h3 {
    top: -20px;
    margin-top: 0;
    left: 0;
    text-align: end;
  }
  section#area-contatos input {
    width: 60vw;
  }
  section#area-contatos input[type="submit"] {
    width: 30vw;
    margin-top: 10px;
  }
  section#area-contatos textarea {
    width: 60vw;
  }
}
/*# sourceMappingURL=main.css.map */