*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    width: 100%;
    background: #222;
}
header{
    background: #555;
    h1{
        font-size: 2em;
        color: white;
        line-height: 2em;
        font-style: italic;
    }
    ul{
        margin-right: 0 auto;
        list-style: none;
        display: flex;
        flex-direction: row;

    }
    li{
        position: relative;
        top: 0;
        left: 50%;
        margin: 25px 0 0 0;
    }
    a{
        text-align: center;
        color: white;
        margin-left: 15px;
        padding: 10px;
        text-decoration: none;
    }
    & a:hover{
        text-decoration: none;
        color: #888;
    }
}
section#area-categorias{
    background:rgba(100, 100, 100, .7);
    #linha-categorias{
        display: flex;
        justify-content: space-between;
    }
    .categorias{
        padding: 20px;
        //background:rgba(255, 255, 255, .9);
        margin: 0 5px 0 5px;
        width: 150px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color:rgb(255, 255, 255,);
        font-size: 1.2em;

        img{
            width: 100%;
            border-radius: 50%;
            transition: 0.2s;
        }
    }
}
section#area-produtos{
    background: #222;
    padding-top: 30vh;
    padding-bottom: 10vh;
    #bg-produtos{
        padding: 15px 0;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #f1f1f1;
        background: rgba(255, 255, 255, 0.9);
    }
    aside{
        margin: 15px 0;
        max-width: 400px;
        background:white;
        border-radius: 5px;
        table{
            margin: 10px 0 0 0 auto;
            display: grid;
            justify-content: center;
            border-collapse: collapse;
            text-align: center;
        }
        td, th{
            border: 1px solid #888;
        }
        h2{
            padding: 15px 0 5px 0;
            margin: 10px 0;
            text-align: center;
            font-size: 1.2em;
        }
        button{
            /*position: relative;
            top: 5px;
            left: 5%;*/
            display: block;
            padding: 7px 40px;
            margin: 0 0 20px 0;
            border: none;
            //border-radius: 5px;
            color: white;
            background:rgba(0, 0, 0, .5);
            transition: 0.2s;
        }
        & button:hover{
            color: rgba(0, 0, 0, .7);
        }
        & button:focus{
            outline: none;
        }
    }
}
.card{
    margin: 10px 5px;
    background: #f5f5f5;
    padding: 10px;
    width: 250px;
    border: 3px solid #333;
    box-shadow: 0 2px 10px;
    
    img{
        width: 240px;
        height: 160px;
        box-sizing: border-box;
        transition: 0.2s;
    }
    & img:hover {
        box-shadow: 0 2px 4px;
    }
    p{
        color: #888;
        margin: 10px 0 0 0;
        font-size: .8em;
    }
    h3{
        position: relative;
        top: 0;
        left: 20px;
        margin: 5px 0 0 0;
        font-size: 1.3em;
    }
    span{
        font-size: .8em;
    }
    button{
        border-radius: 5px;
        margin: 15px 0 0 0;
        color: white;
        background: rgba(0, 0, 0, .5);
    }
}
section#area-cadastrar{
    padding-bottom: 10vh;
    background: #222;
    input{
        width: 300px;
        margin: 10px 0;
        display: inline-block;
    }
}

footer{
    background: #222;
    padding-bottom: 10vh;
    .container{
        border-top: 1px solid rgba(100, 100, 100, .7);
    }
    ul{
        margin-top: 10vh;
        list-style: none;
    }
    li{
        display: inline-block;
    }
    a{
        padding: 10px;
        margin-left: 15px;
        color: #888;
    }
    & a:hover{
        text-decoration: none;
        color: white;
    }
}
 //--------------------------   Contatos   -------------------------------------

section#area-contatos{
    height: 80vh;
    background: #222;
    margin: 0 auto;

    h2{
        padding-top: 10vh;
        margin-bottom: 5vh;
        color: white;
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
    }
    form{
        display: grid;
        place-items: center;
    }
    input{
        width: 30vw;
        margin-top: 5px;
    }
    input[type="submit"]{
        width: 10%;
    }
    textarea{
    width: 30vw;
    margin-top: 20px;
    resize: none;
    }
}
