<!doctype html>
<html lang="en">
<head>
    <title>Loja Virtual</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Estilo SCSS -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body>
        <header class="sticky-top"> <!-- Começo Cabecalho -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Logo Marca</h1>
                    </div>
                    <div class="col-md-6">
                        <nav>
                            <ul>
                                <li>
                                    <a href="../index.html">Home</a>
                                </li>
                                <li>
                                    <a href="">Contatos</a>
                                </li>
                                <li>
                                    <a href="#">Sobre Nós</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>             
            </div>            
        </header> <!-- Final Cabecalho-->

        <section id="area-contatos">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Entre em Contato Conosco</h2>
                        <form>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Nos diga seu nome" required>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Nos diga seu E-mail" required>
                            <input type="phone" class="form-control" name="phone" id="phoneNumber" placeholder="Nos diga seu número de telefone">
                            <textarea name="message" class="form-control" id="area-message" cols="30" rows="5" placeholder="Fale aqui">
                            </textarea>
                            <input type="submit" class="btn btn-outline-light" value="Enviar">
                        </form>
                        
                    </div>
                    <div class="d-none d-md-block col-md-6">
                        <h2>COMUNICAÇÃO</h2>
                        <p class="text-light text-center">Acreditamos que para ter um bom relacionamento, precisamos ter uma boa comunicação.
                            Pois é com uma boa comunicação que conseguimos alcançar nossos objetivos, conseguimos nos apoiar.
                            Uma boa comunicação é uma ótima aliada nos dias de hoje.
                        </p>
                    </div>
                </div>
            </div>            
        </section>
 
        <footer>
            <div class="container">
                <div class="m-auto">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Contatos</a>
                        </li>
                        <li>
                            <a href="#">Sobre Nós</a>
                        </li>
                    </ul>
                </div>
            </div>            
        </footer>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script ipt src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>