<!doctype html>
<html lang="pt-BR" ng-app="lojaVirtual">
<head>
    <title>Loja Virtual</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!--AngularJS-->
     <script src="../app/angular/angular.js"></script>
     <script src="../app/angular/angular-messages.min.js"></script>
     <script src="../app/app.js"></script>
     <script src="../app/angular/controllers/lojaVirtual.js"></script>

    <!-- Estilo SCSS -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body ng-controller="lojaVirtualCtrl">
        <header class="container-fluid"> <!-- Começo Cabecalho -->
            <h1 id="logo">{{logo}}</h1>
            <!--Menu Normal-->
            <ul id="menuCommon">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="view/contatos.html">Contatos</a>
                </li>
                <li>
                    <a href="#">Sobre Nós</a>
                </li>
                <li>                
                    <a href="#" class="">login</a>
                </li>
                <li>
                    <a href="#" class="sublinhado">Cadastre-se</a>
                </li>
            </ul>
            <!--Menu em Mobile-->
            <div class="menu-btn">
                <div class="menu-btn_burger"></div>
                <ul id="menuSmall">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li>
                        <a href="view/contatos.html">Contatos</a>
                    </li>
                    <li>
                        <a href="#">Sobre Nós</a>
                    </li>
                    <li>
                        <a href="">Login</a>
                    </li>
                    <li>
                        <a href="">Cadastrar</a>
                    </li>
                </ul>
            </div>
            <!--Menu em Mobile-->              
            <div id="areaSacola" class="container">
                <a href="produto-comprar.html">
                    <i id="sacola" class="fas fa-shopping-bag fa-2x"></i>
                    <p> {{sacolaProduto}} </p>
                </a>
                    
            </div>
        </header> <!-- Final Cabecalho-->

        <section id="area-contatos">
            <div class="container-fluid">
                <h2 class="text-light text-center mb-5 anim">Dê seu feedback</h2>
                <form name="clienteForm">
                    <input type="text" class="form-control anim" name="name" id="name" placeholder="Nos diga seu nome" ng-model="cliente.nome" ng-required="true">
                    <input type="email" class="form-control anim" name="email" id="email" placeholder="Nos diga seu E-mail" ng-model="cliente.email" ng-required="true">
                    <input type="phone" class="form-control anim" name="phone" id="phoneNumber" placeholder="Nos diga seu número de telefone" ng-model="cliente.phone" ng-required="true">
                    <textarea name="message" class="form-control anim" id="area-message" cols="30" rows="5" placeholder="Acreditamos que uma boa comunicação é imprescindível para se ter um bom relacionamento." ng-model="cliente.feedback" ng-required="true"></textarea>
                    <input type="button" ng-click="adicionarFeedback(cliente)" class="btn btn-outline-light anim" value="Enviar" ng-disabled="clienteForm.$invalid">
                </form>
            </div>            
        </section>

        <section id="mensagemFeedback">
            <div class="container">
                <div ng-repeat="cliente in feedbackClientes">
                    <div class="feed">
                        <h4 class="text-light">
                            <img src="../images/imgFeedback/user-secret.svg" class="img-fluid mb-5" alt="user">
                            {{cliente.nome}}
                        </h4>
                        <div class="mensagem">
                            <i id="quote" class="fas fa-quote-left fa-2x"></i>
                            <p class="text-center">{{cliente.feedback}}</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
 
        <footer>
            <div class="container">
                <div class="rodape">
                    <ul>
                        <li>
                            <a href="../index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Contatos</a>
                        </li>
                        <li>
                            <a href="#">Sobre Nós</a>
                        </li>
                    </ul>
                </div>
            </div>            
        </footer>

        <!--Script Para Button Drop-->
        <script src="../scriptsJs/menu-burger.js"></script>

        <!-- Script da Vitrine -->
        <script src="../scriptsJs/produtos.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script ipt src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>