<!doctype html>
<html ng-app="lojaVirtual">
<html lang="en">
<head>
    <title>Loja Virtual</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!--AngularJS-->
     <script src="../app/angular/angular.js"></script>
     <script src="../app/angular/angular-messages.min.js"></script>
     <script src="../app/app.js"></script>
     <script src="../app/angular/modules/lojaVirtual.js"></script>

    <!-- Estilo SCSS -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body ng-controller="lojaVirtualCtrl">
        <header class="container-fluid"> <!-- Começo Cabecalho -->
            <h1 id="logo">{{logo}}</h1>
            <!--Menu Normal-->
            <ul id="menuCommon">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="#">Contatos</a>
                </li>
                <li>
                    <a href="#">Sobre Nós</a>
                </li>
                <li>                
                    <a href="#" class="">login</a>
                </li>
                <li>
                    <a href="#" class="sublinhado">Cadastre-se</a>
                </li>
            </ul>
            <!--Menu em Mobile-->
            <div class="menu">
                <button id="menuDrop" onclick="abrirMenuDrop()"> <!--onclick="fecharMenuDrop()" onmouseout="sairMenuDrop()"-->
                    <i class="fas fa-bars fa-2x" aria-hidden="true"></i>
                </button>
                <ul id="menuSmall">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="view/contatos.html">Contatos</a>
                    </li>
                    <li>
                        <a href="#">Sobre Nós</a>
                    </li>
                    <li>
                        <a href="">Login</a>
                    </li>
                    <li>
                        <a href="">Cadastrar</a>
                    </li>
                </ul>
            </div>              
            <div id="areaSacola" class="container">
                <a href="">
                    <i id="sacola" class="fas fa-shopping-bag fa-2x"></i>
                    <p id="quantidadeSacola" ng-init="produto.quantidade = 0" ng-bind="produto.quantidade"></p>
                </a>
                    
            </div>
        </header> <!-- Final Cabecalho-->

        <section id="area-contatos">
            <div class="container">
                <h1 class="text-light text-center mb-5 anim">Entre em Contato Conosco</h1>
                <form>
                    <input type="text" class="form-control anim" name="name" id="name" placeholder="Nos diga seu nome" required ng-model="nome">
                    <input type="email" class="form-control anim" name="email" id="email" placeholder="Nos diga seu E-mail" required ng-model="email">
                    <input type="phone" class="form-control anim" name="phone" id="phoneNumber" placeholder="Nos diga seu número de telefone" ng-model="phone">
                    <textarea name="message" class="form-control anim" id="area-message" cols="30" rows="5" placeholder="Acreditamos que uma boa comunicação é imprescindível para se ter um bom relacionamento." required ng-model="feedback"></textarea>
                    <input type="submit" class="btn btn-outline-light anim" value="Enviar" ng-disabled="!nome || !email || !phone || !feedback" ng-class="sumirForm">
                </form>
            </div>            
        </section>
 
        <footer>
            <div class="container">
                <div class="m-auto">
                    <ul>
                        <li>
                            <a href="../index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Contatos</a>
                        </li>
                        <li>
                            <a href="#">Sobre Nós</a>
                        </li>
                    </ul>
                </div>
            </div>            
        </footer>

        <!--Script Para Button Drop-->
        <script src="../scriptsJs/menu-drop.js"></script>

        <!-- Script da Vitrine -->
        <script src="../scriptsJs/produtos.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script ipt src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>