<!DOCTYPE html>
<html lang="en" ng-app="teste">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>

    <script src="../app/angular/angular.js"></script>

    <script>
        angular.module('teste', []);
        angular.module('teste').controller('testeController', function($scope){

        });
    </script>

    <style>

    </style>
</head>
<body ng-controller="testeController">
    <input type="checkbox" ng-init="btnDropdown = false" ng-model="btnDropdown">
    <ul ng-show="btnDropdown">
        <li>
            Alguma
        </li>
        <li>
            Coisa
        </li>
        <li>
            Para
        </li>
        <li>
            Ver
        </li>
    </ul>
</body>
</html>